[Desktop Entry]
Type=Application
Name=SankiWork (@@NAMESPACE@@)
GenericName=SankiWork
Comment=SankiWork packaged build (@@NAMESPACE@@)
Exec=env -u ELECTRON_RUN_AS_NODE SW_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=SankiWork
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
